@import 'src/styles/variables';

.home__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 100%;
  width: 80%;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: auto;
  width: 50%;
}

.home__title_wrapper {
  font-weight: 700;
  font-size: 48px;
  color: $blackTitle;
  margin-bottom: 22px;
  .home__title {
    span {
      color: $orangeTitle;
    }
  }
  .home__title2 {
    line-height: 72px;
  }
}

.home__description {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;

  width: 100%;
  color: $grayDescription;

  margin-bottom: 30px;
}

.home__button {
  max-width: 130px;
  height: 46px;
  margin-bottom: 50px;

  color: $whiteColor;
  border: none;
  padding: 8px 22px 8px 22px;
  background: $greenColor;
  border-radius: 30px;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.05);
  }
}

.home__images_block {
  position: relative;
}

.home__image_woman {
  position: absolute;
  top: 70px;
  right: 100px;

  height: 557px;
  width: 400px;
  background-image: url('/img/woman.png');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.home__image_circle {
  position: absolute;

  top: 130px;
  right: 160px;

  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: $greenColor;
  z-index: 1;
}

.home__image_langs {
  position: absolute;

  top: 10px;
  right: 76px;

  border: 2px solid $grayCircle;
  border-radius: 50%;

  width: 450px;
  height: 450px;

  animation: animOrbit 12s linear infinite 4.8s;
}

.home__image_lang_IND1 {
  position: absolute;
  top: 320px;
  right: 0px;

  width: 70px;
  height: 70px;
  z-index: 0;

  background-image: url('/img/flag/IND.png');
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0px 10px 30px rgba(148, 148, 148, 0.1));
  animation: startAnimIND1 4.8s ease-in 1;
}

.home__image_lang_IND2 {
  position: absolute;
  bottom: 230px;
  right: -35px;

  width: 100px;
  height: 100px;

  background-image: url('/img/flag/INDBig.png');
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0px 10px 30px rgba(148, 148, 148, 0.1));
  animation: startAnimIND2 4.2s ease-in 1;
}

.home__image_lang_IND3 {
  position: absolute;
  top: 320px;

  width: 70px;
  height: 70px;

  background-image: url('/img/flag/IND.png');
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0px 10px 30px rgba(148, 148, 148, 0.1));
  animation: startAnimIND3 3s ease-in 1;
}

.home__image_lang_ITL {
  position: absolute;
  bottom: 400px;
  left: 220px;

  width: 80px;
  height: 80px;

  background-image: url('/img/flag/ITL.png');
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0px 10px 30px rgba(148, 148, 148, 0.1));
  animation: startAnimITL 3.8s ease-in 1;
}

.home__image_lang_ENG {
  position: absolute;
  bottom: 240px;
  left: -40px;

  width: 100px;
  height: 100px;

  background-image: url('/img/flag/ENG.png');
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0px 10px 30px rgba(148, 148, 148, 0.1));
  animation: startAnimENG 3.4s ease-in 1;
}

@keyframes animOrbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes startAnimIND3 {
  0% {
    transform: translate(250px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes startAnimENG {
  0% {
    transform: translate(250px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes startAnimIND1 {
  0% {
    transform: translate(-200px, -70px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes startAnimITL {
  0% {
    transform: translate(-120px, 220px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes startAnimIND2 {
  0% {
    transform: translate(-150px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media (max-width: 576px) {
  //iphone
  .home__wrapper {
    margin: 0px auto;
    min-width: 90%;
  }
  .home__content {
    width: 100%;
  }
  .home__images_block {
    padding-top: 50px;
    width: 100%;
  }
  .home__title_wrapper {
    font-size: 25px;
  }
  .home__title {
    line-height: 35px;
    width: 65%;
  }
  .home__title2 {
    width: 100%;
  }
  .home__images_block {
    position: relative;
    max-width: 100%;
    height: 650px;
  }

  .home__image_woman {
    position: absolute;
    top: 90px;
    right: -70px;
  }

  .home__image_circle {
    position: absolute;

    top: 150px;
    right: 0px;
  }

  .home__image_langs {
    position: absolute;

    top: 30px;
    right: -85px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  //ipad mini
  .home__wrapper {
    margin: 70px auto;
    width: 90%;
  }
  .home__content {
    width: 100%;
  }
  .home__images_block {
    width: 100%;
  }
  .home__title {
    line-height: 65px;
    width: 60%;
  }
  .home__title2 {
    width: 80%;
  }
  .home__images_block {
    position: relative;
    width: 100%;
    height: 650px;
  }

  .home__image_woman {
    position: absolute;
    top: 100px;
    right: 150px;
  }

  .home__image_circle {
    position: absolute;

    top: 170px;
    right: 200px;
  }

  .home__image_langs {
    position: absolute;

    top: 50px;
    right: 100px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  //ipad pro
  .home__wrapper {
    margin: 100px auto;
    width: 90%;
  }
  .home__content {
    width: 100%;
  }
  .home__images_block {
    width: 100%;
  }
  .home__title {
    line-height: 65px;
    width: 60%;
  }
  .home__title2 {
    width: 80%;
  }
  .home__images_block {
    position: relative;
    width: 100%;
    height: 650px;
  }

  .home__image_woman {
    position: absolute;
    top: 100px;
    right: 280px;
  }

  .home__image_circle {
    position: absolute;

    top: 170px;
    right: 335px;
  }

  .home__image_langs {
    position: absolute;

    top: 50px;
    right: 250px;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  //computer
  .home__wrapper {
    margin: 100px auto;
    width: 80%;
  }
  .home__content {
    width: 50%;
  }
  .home__images_block {
    width: 50%;
  }
  .home__title {
    line-height: 65px;
    width: 70%;
  }
  .home__title2 {
    width: 80%;
  }
  .home__images_block {
    position: relative;
    width: 50%;
  }

  .home__image_woman {
    position: absolute;
    top: 100px;
    right: -20px;
  }

  .home__image_circle {
    position: absolute;

    top: 170px;
    right: 40px;
  }

  .home__image_langs {
    position: absolute;

    top: 50px;
    right: -40px;
  }
}

@media (min-width: 1401px) {
  .home__wrapper {
    margin: 138px auto;
    width: 80%;
  }
  .home__content {
    width: 50%;
  }
  .home__images_block {
    width: 50%;
  }
  .home__title {
    line-height: 65px;
    width: 60%;
  }
  .home__title2 {
    width: 80%;
  }
  .home__images_block {
    position: relative;
  }

  .home__image_woman {
    position: absolute;
    top: 70px;
    right: 100px;
  }

  .home__image_circle {
    position: absolute;

    top: 130px;
    right: 160px;
  }

  .home__image_langs {
    position: absolute;

    top: 10px;
    right: 76px;
  }
}
