@import 'src/styles/variables';

.nav {
  margin: 30px auto;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
}

.nav__logo_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.nav__logo {
  color: $greenColor;
  border: 4px solid $orangeLogoColor;
  border-radius: 100px;
  padding: 3px 10px 4px 10px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.nav__logo_text {
  width: 100%;
  padding: 5px;

  color: $blackTitle;

  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
}

.nav__wrapper_links {
  color: $greyNavbar;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.nav__link_active {
  position: relative;
  &::before {
    content: '';

    position: absolute;
    left: calc(50% - 10px);
    bottom: -4px;

    height: 1.5px;
    width: 20px;
    background-color: $orangeLinkActive;
  }
}

.nav__button {
  color: $whiteColor;
  border: none;
  padding: 9px 23px 9px 23px;
  background: $greenColor;
  border-radius: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 576px) {
  //iphone
  .nav {
    width: 100%;
  }
  .nav__wrapper_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  //ipad mini
  .nav {
    width: 100%;
  }
  .nav__wrapper_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  //ipad pro
  .nav {
    width: 90%;
  }
  .nav__wrapper_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  //computer
  .nav {
    width: 80%;
  }
  .nav__wrapper_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
  }
}
